






<section class="container">
    <h1 th:text="${nombre}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Edad</th>
            <th scope="col">Pais de origen</th>
            <th scope="col">Nivel de estudios</th>
            <th scope="col">Dirección</th>
            <th scope="col">Promoción F5</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="alumna: ${alumnas}">
            <th scope="row" th:text="${alumna.id}"></th>
            <td th:text="${alumna.nombre}"></td>
            <td th:text="${alumna.apellidos}"></td>
            <td th:text="${alumna.edad}"></td>
            <td th:text="${alumna.pais_origen}"></td>
            <td th:text="${alumna.nivel_de_estudios}"></td>
            <td th:text="${alumna.direccion}"></td>
            <td th:text="${alumna.promocionF5}"></td>
            <td>
                <a class="btn btn-success btn-sm" th:href="'/alumnas/edit/'+${alumna.id}">Edit</a>
            </td>
            <td>
                <a class="btn btn-success btn-sm btn-danger" th:href="'/alumnas/eliminar/'+${alumna.id}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
